<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PppDownloader</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}">
</head>
<body>
    <div class="header">
        <h1>PppDownloader</h1>
        <br><br>
        <form action="#" th:action="@{/submit}" >
            <label for="firstDate">Choose first date</label>
            <input type="date" id="firstDate" name="firstDate">
            <label for="secondDate">Choose second date</label>
            <input type="date" id="secondDate" name="secondDate">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="main">

    </div>
</body>
</html>