<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PppDownloader</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/css/style.css}">
</head>
<body>
    <div class="header">
        <h1>PppDownloader</h1>
        <br><br>
        <form action="#" th:action="@{/submit}" >
            <label for="firstDate">Choose first date</label>
            <input type="date" id="firstDate" name="firstDate">
            <label for="secondDate">Choose second date</label>
            <input type="date" id="secondDate" name="secondDate">
            <input type="submit" value="Submit">
        </form>
    </div>
    <br><br>
    <div class="main">
        <div class="table-container" th:each="element : ${elements}">
            <table class="table">
                <h2>${element.name}</h2>
                <thead>
                    <tr>
                        <th>Count #</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "link : ${element.links}">
                        <td th:utext="${link}"></td>
                    </tr>
                </tbody>
            </table>
            <br><br>
        </div>
    </div>
</body>
</html>